<!-- INCLUDE overall_header.html -->

<div class="login-theme">
	<div class="right-login">
		<div class="logo-login">
			<a id="logo" class="logo" href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->" title="<!-- IF U_SITE_HOME -->{L_SITE_HOME}<!-- ELSE -->{L_INDEX}<!-- ENDIF -->"><img src="{LOGO_LOGIN}"><span>{SITENAME}</span></a>
		</div>
	</div>
<form action="{S_LOGIN_ACTION}" method="post" id="login" data-focus="<!-- IF S_ADMIN_AUTH -->{PASSWORD_CREDENTIAL}<!-- ELSE -->{USERNAME_CREDENTIAL}<!-- ENDIF -->">

<div class="panel">
	<div class="inner">

	<div class="content">
		<h2 class="login-title"><!-- IF LOGIN_EXPLAIN -->{LOGIN_EXPLAIN}<!-- ELSE -->{L_LOGIN}<!-- ENDIF --></h2>

		<fieldset <!-- IF not S_CONFIRM_CODE -->class="fields1"<!-- ELSE -->class="fields2"<!-- ENDIF -->>
		<!-- IF LOGIN_ERROR --><div class="error">{LOGIN_ERROR}</div><!-- ENDIF -->
		<dl>

			<dd><input type="text" tabindex="1" name="{USERNAME_CREDENTIAL}" id="{USERNAME_CREDENTIAL}" size="25" value="{USERNAME}" class="inputbox autowidth" placeholder="{L_USERNAME}" /></dd>
		</dl>
		<dl>

			<dd><input type="password" tabindex="2" id="{PASSWORD_CREDENTIAL}" name="{PASSWORD_CREDENTIAL}" size="25" class="inputbox autowidth" autocomplete="off" placeholder="{L_PASSWORD}" /></dd>

		</dl>
		<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
			<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
			<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
		<!-- ENDIF -->
		<!-- IF S_DISPLAY_FULL_LOGIN -->
		<dl>
			<!-- IF S_AUTOLOGIN_ENABLED --><dd><label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="4" /> {L_LOG_ME_IN}</label></dd><!-- ENDIF -->
			<dd><label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="5" /> {L_HIDE_ME}</label></dd>
		</dl>
		<!-- ENDIF -->

		{S_LOGIN_REDIRECT}
		{S_FORM_TOKEN_LOGIN}
		<dl>
			<dt>&nbsp;</dt>
			<dd>{S_HIDDEN_FIELDS}<input type="submit" name="login" tabindex="6" value="{L_LOGIN}" class="button1" /></dd>
		</dl>

				<dl>	<!-- IF S_DISPLAY_FULL_LOGIN and (U_SEND_PASSWORD or U_RESEND_ACTIVATION) -->
				<!-- IF U_SEND_PASSWORD --><dd><a href="{U_SEND_PASSWORD}">{L_FORGOT_PASS}</a></dd><!-- ENDIF -->
				<!-- IF U_RESEND_ACTIVATION --><dd><a href="{U_RESEND_ACTIVATION}">{L_RESEND_ACTIVATION}</a></dd><!-- ENDIF -->
			</dl><!-- ENDIF -->

			<dl><span><a href="{U_REGISTER}">Don't have a user? Signup now</a></span></dl>
		</fieldset>
	</div>

	<!-- IF not S_ADMIN_AUTH and PROVIDER_TEMPLATE_FILE -->
		<!-- INCLUDE {PROVIDER_TEMPLATE_FILE} -->
	<!-- ENDIF -->
	</div>
</div>




</form>
</div>
<!-- INCLUDE overall_footer.html -->
