.full_background #slides ,.img-header {
	position: fixed;
    width: 100%;
    height: 100%;	
}

.full_background #slides li {
   height: 100%;	
}
.full_background .gra {
	display:none	
}
.full_background  .info-brand {
	    position: relative;
}
.full_background .page-body {
	position: relative;
	padding-top:25px
}
.page-footer .navbar{
	background: none;
    background-color: #ff000000 !important;
	padding:0px
}
.info-brand p {
    margin-bottom: 80px;
}
.demo_two .info-brand p {
	    margin: inherit;
}
.full_background .slide:nth-of-type(1){

background: -webkit-linear-gradient(rgba(0, 130, 170, 0),rgb(24, 32, 40)) ,url(gamep2.png);
background: -moz-linear-gradient(rgba(0, 130, 170, 0),rgb(24, 32, 40)),url(gamep2.png);
background: -ms-linear-gradient(rgba(0, 130, 170, 0),rgb(24, 32, 40)),url(gamep2.png);
background: -o-linear-gradient(rgba(0, 130, 170, 0),rgb(24, 32, 40))url(gamep2.png);
background: linear-gradient(rgba(0, 130, 170, 0),rgb(24, 32, 40))url(gamep2.png);

}

.full_background .slide:nth-of-type(2){

background: -webkit-linear-gradient(rgba(0, 130, 170, 0),rgb(24, 32, 40)) ,url(gamep1.png);
background: -moz-linear-gradient(rgba(0, 130, 170, 0),rgb(24, 32, 40)),url(gamep1.png);
background: -ms-linear-gradient(rgba(0, 130, 170, 0),rgb(24, 32, 40)),url(gamep1.png);
background: -o-linear-gradient(rgba(0, 130, 170, 0),rgb(24, 32, 40))url(gamep1.png);
background: linear-gradient(rgba(0, 130, 170, 0),rgb(24, 32, 40))url(gamep1.png);

}

.full_background .slide:nth-of-type(3){

background: -webkit-linear-gradient(rgba(0, 130, 170, 0),rgb(24, 32, 40)) ,url(gamep1.png);
background: -moz-linear-gradient(rgba(0, 130, 170, 0),rgb(24, 32, 40)),url(gamep1.png);
background: -ms-linear-gradient(rgba(0, 130, 170, 0),rgb(24, 32, 40)),url(gamep1.png);
background: -o-linear-gradient(rgba(0, 130, 170, 0),rgb(24, 32, 40))url(gamep1.png);
background: linear-gradient(rgba(0, 130, 170, 0),rgb(24, 32, 40))url(gamep1.png);

}







.forums dd.lastpost span, .topics dd.lastpost span {
    line-height: 27px !important;
}

.lastpostavatar img.avatar {
    height: 50px !important;
    width: 50px !important;

}


ul.topiclist li.row dl {
    padding: 26px 0;

}


.full_background .action-bar .button ,.full_background .search-box .inputbox{
    background-color: #1d2731 !important;
}


.full_background.with-opacity .action-bar .button ,.full_background.with-opacity .search-box .inputbox,.action-bar #search_keywords, .search-box #add_keywords,.search-box .button, form#topic-search .button, .search-box .button{
	   background-color: #1d2731d4 !important;
}

.full_background .search-box .inputbox{
	    line-height: 26px;
}


.page-footer .copyright {
	background: none !important;
}
.full_background .search-box .inputbox::-webkit-input-placeholder { /* Chrome/Opera/Safari */

	    color: #fff;

}

.full_background .search-box .inputbox::-moz-placeholder { /* Firefox 19+ */
 color: #fff;
}

.full_background .search-box .inputbox:-ms-input-placeholder { /* IE 10+ */
 color: #fff;
}

.full_background .search-box .inputbox:-moz-placeholder { /* Firefox 18- */
 color: #fff;
}


.section-ucp.full_background .content h2, .section-ucp.full_background .panel h2, .section-mcp.full_background .content h3, .section-ucp.full_background .panel h3, .section-mcp.full_background .content h2, .section-mcp.full_background .panel h2, .section-mcp.full_background .content h3, .section-mcp.full_background .panel h3 {
	background:none !important
}

.stat-block p,.lastpost span ,.forumbg dd.lastpost span ,dd.posts, dd.topics, dd.views, dd.extra, dd.mark{
	font-size:14px
}

.full_background.with-opacity .panel ,.full_background.with-opacity .forabg , .full_background.with-opacity .stat-block ,.full_background.with-opacity .forumbg ,.full_background.with-opacity .bg1 ,.full_background.with-opacity .bg2,.full_background.with-opacity .bg3{
	background-color:#1d2731d4 !important	
}
.full_background.with-opacity .forabg .topiclist li.header,.full_background.with-opacity .stat-block h3,.full_background.with-opacity .forumbg .topiclist li.header,.full_background.with-opacity .stat-block h3 ,.full_background.with-opacity .cp-main .pm,.full_background.with-opacity .panel-container table.table1 thead tr ,.full_background.with-opacity thead tr,.full_background.with-opacity table.table1 tbody tr:hover,.full_background.with-opacity table.table1 tbody tr.hover,.full_background.with-opacity .tabs ,.full_background.with-opacity .page-footer{
	background-color:#151e26d4 !important	
}
.full_background.with-opacity .forabg .bg1 ,.full_background.with-opacity .forabg .bg2 ,.full_background.with-opacity .forabg .bg3,.full_background.with-opacity .forumbg .bg1 ,.full_background.with-opacity .forumbg .bg2 ,.full_background.with-opacity .forumbg .bg3 {
	background:none !important
}

.info-brand-full {
	position: relative;
    width: 100%;
    text-align: center;
	padding: 35px 15px;
}
.info-brand-full p{
	line-height: 25px;
}
.info-brand-full img{
    max-height: 120px;
}